@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;600;700&display=swap");

.wrap_form {
  width: 30%;
  font-family: "Cabin", sans-serif;
  background-color: rgb(233, 232, 232);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  position: fixed;
  top: 50%;
  padding: 2rem;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
  border-radius: 1rem;
  animation: appear 0.5s ease forwards;
}

div.item_form {
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item_form h1 {
  font-size: 1.2rem;
  padding-bottom: 1rem;
}

.icon_close:hover {
  color: #22cbc0;
}

hr {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border-color: rgba(198, 193, 193, 0.397);
  margin-bottom: 0.3rem;
}

form {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

input {
  width: 100%;
  border: none;
  color: black !important;
}

input:focus {
  outline: none;
  color: black !important;
  /* color: white; */
  /* border: solid rgb(182, 24, 24); */
}

.input_box {
  display: flex;
  align-items: center;
  transition: all 0.2s linear;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 5rem;
  margin: 0.6rem 0;
  border: solid rgba(0, 0, 0, 0.199);
  font-family: "Cabin", sans-serif;
  font-size: 1rem;
  background-color: white;
}

.input_box:hover {
  border: solid #22cbc0;
}

.input_box .icon_form {
  left: 23rem;
  top: 1.2rem;
  font-size: 1.3rem;
}
.pass_box .icon_form {
  position: absolute;
  left: 23rem;
  top: 1.2rem;
  font-size: 1.3rem;
}

button.button {
  font-family: "Cabin", sans-serif;
  font-size: 1rem;
  margin: 0.5rem 0;
  align-self: center;
  border-radius: 5rem;
  padding: 0 1rem;
  border: solid #0c7b93;
  transition: all 0.2s linear;
  cursor: pointer;
  box-shadow: 0 5px 2px #1b1b2f;
  /* text-shadow: 1px 1px 1px black; */
  font-weight: bolder;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0);
  border: solid #1b1b2f;
  color: #22cbc0;
  /* box-shadow: 2px 2px 5px rgba(255, 3, 3, 0.589); */
  font-weight: bolder;
}

a.buttonCr {
  font-family: "Cabin", sans-serif;
  font-size: 0.8rem;
  margin: 0.5rem 0;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  transition: all 0.2s linear;
  cursor: pointer;

  /* color: #; */
  /* font-weight: bolder; */
  border: solid #0c7b93;
  border-radius: 5rem;
  box-shadow: 0 5px 2px #1b1b2f;
}

a.buttonCr:hover {
  color: black;
  background-color: rgba(255, 255, 255, 0);
  border: solid #1b1b2f;
  /* box-shadow: 2px 2px 5px rgba(255, 3, 3, 0.589); */
  font-weight: bolder;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.error {
  background: linear-gradient(45deg, #ccc, #0c7b93);
  padding: 1rem;
  font-weight: bolder;
  color: white;
  position: absolute;
  top: 30px;
  right: -130%;
  transition: right 0.5s ease;
  border-radius: 30px;
}

.error.muncul {
  right: -90%;
}

div.googleBtn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* align-self: center; */
  margin-bottom: 1rem;
}

.qJTHM {
  margin: 0;
}
#container {
  padding: 0;
}
.haAclf {
  display: flex;
  padding: 0;
}
.nsm7Bb-HzV7m-LgbsSe .nsm7Bb-HzV7m-LgbsSe-MJoBVe {
  width: 100%;
}
iframe#gsi_494797_297261 {
  width: 100%;
  margin: 0;
}
