* {
  margin: 0;
  padding: 0;
}

.GenrePageWrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 3em;
}

.genreMovieTitle h1 {
  /* color: white; */
  font-family: "Itim", cursive;
  /* padding: 3rem 0 1.5rem 0; */
  font-weight: bolder;
  text-shadow: 5px 5px 5px rgb(0, 0, 0);
}

.genreMovieItem {
  margin: 0.5rem;
  border: 3px solid #1f4068;
  transition: all 0.2s linear;
  cursor: pointer;
  border-radius: 1rem;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.genreMovieItem:hover {
  box-shadow: 2px 3px 7px #0c7b93;
}

img.genreMovieImg {
  margin: 0 0.5rem;
  /* width: 10rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
}

.genreMovieTitle {
  color: white;
  font-size: 1rem;
  font-family: "Itim", cursive;
  font-weight: bolder;
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.genreItem {
  display: flex;
  flex-direction: column;
}

.genreBtn:hover {
  color: #00a8cc;
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
}
