* {
  margin: 0;
  padding: 0;
}

.AllMovieWrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 2rem;
}

.AllTitle {
  color: #1f4068;
  font-size: 2rem;
  font-family: "Itim", cursive;
  font-weight: bolder;
  text-shadow: 5px 2px 5px #0000007a;
  padding: 1rem 0 2rem 0;
}

.allMovieItem {
  margin: 0.5rem;
  border: 3px solid #1f4068;
  transition: all 0.2s linear;
  cursor: pointer;
  border-radius: 1rem;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #27496d;
}

.allMovieItem:hover {
  box-shadow: 2px 3px 7px #0c7b93;
}

img.AllMovieImg {
  margin: 0 0.5rem;
  width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
}

.AllMovieTitle {
  color: white;
  font-size: 1rem;
  font-family: "Itim", cursive;
  font-weight: bolder;
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
}
