@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Averia+Libre:wght@700&display=swap");

button.register {
  height: 40px;
  color: white;
  background-color: transparent;
  border-radius: 0.7rem;
  text-shadow: 1px 1px 1px black;
  box-shadow: 0 5px 2px #1b1b2f;
  border: solid #1b1b2f;
  padding: 0 20px;
  font-weight: bolder;
  margin-right: 20px;
  transition: all 0.2s linear;
  display: flex;
  cursor: pointer;
  align-items: center;
  flex-direction: row-reverse;
}
.register:hover {
  background-color: #0c7b93;
  border: solid #0c7b93;
  color: white;
}
