@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");

* {
  margin: 0;
  padding: 0;
}

img.HeaderImg {
  position: absolute;
  object-fit: cover;
}

.headerDec {
  position: absolute;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
}

.HeaderTitle {
  text-shadow: 0 5px 5px black;
  font-family: "Fredoka One", cursive;
  padding-right: 5rem;
}

.HeaderClick {
  font-family: "Cabin", sans-serif;
  margin-right: 10rem;
  background-color: #0c7b93;
  padding: 0.4rem;
  border-radius: 0.7rem;
  text-shadow: 1px 1px 1px black;
  box-shadow: 0 5px 2px #1b1b2f;
  border: solid #1b1b2f;
  transition: all 0.2s linear;
}

.HeaderClick:hover {
  background-color: rgba(255, 255, 255, 0);
  border: solid #1b1b2f;
}

.MovieWrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.popularTitle h1 {
  color: white;
  font-size: 3rem;
  font-family: "Itim", cursive;
  padding: 1rem 0 1.5rem 0;
  font-weight: bolder;
  text-shadow: 5px 5px 5px rgb(0, 0, 0);
}

.popularWrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem 6rem;
}

.popularItem {
  border: 3px solid #1f4068;
  transition: all 0.2s linear;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.popularItem:hover {
  box-shadow: 2px 3px 7px #0c7b93;
}

img.popularImg {
  margin: 0 0.5rem;
  width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
}

.popularTitle {
  font-family: "Itim", cursive;
  font-weight: bolder;
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.genreTitle {
  font-family: "Itim", cursive;
  padding: 2rem 0;
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.genreItem {
  display: flex;
  flex-direction: column;
}

.genreBtn {
  margin: 0.5rem;
  font-family: "Itim", cursive;
  transition: all 0.2s linear;
}

.genreBtn:hover {
  color: #00a8cc;
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

div.seacrhWrap {
  display: flex;
  justify-content: flex-end;
  margin: 1rem 6rem 0 0;
}

.searchItem {
  border: 2px solid #5b7aa1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.searchItem input {
  background-color: transparent;
  width: 15rem;
  font-family: "Itim", cursive;
  color: white;
}

input {
  color: white;
}

input:focus {
  outline: none;
  border: none;
  color: white;
}

.searchItem:hover {
  box-shadow: 2px 3px 7px #0c7b93;
}

.SearchBtn {
  color: white;
  font-size: 1.2rem;
}
