@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");

* {
  margin: 0;
  padding: 0;
}

input[type="seacrh"] {
  color: white !important;
}

input[type="seacrh"]:focus {
  outline: none;
  border: none;
  color: white !important;
}
